<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documents Browser</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form th:action="@{/save}" th:object="${document}" method="post">
                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <label>Document Name</label>
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>

                    <div class="col-md-12 form-group">
                        <label>Document Content</label>
                        <textarea class="form-control" th:field="*{content}" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
